files:
  "/tmp/http.conf.tmp" :
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;

  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;      

container_commands:
  01_remove_current_http_conf:
    command: "rm -f /etc/nginx/conf.d/http.conf"
  02_cp_new_http_conf:
    command: "cp /tmp/http.conf.tmp /tmp/http.conf.tmp2"
  03_cp_new_http_conf2:
    command: "cp /tmp/http.conf.tmp /etc/nginx/conf.d/http.conf"